.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Container {
  /* align-items: center; */
  background-color: lavender;
  height: 100vh;
}
.mt-5 {
  margin-top: 45px;
}
.p-5 {
  padding: 45px;
}
.mb-3 {
  margin-bottom: 16px;
}
.mt-4 {
  margin-top: 24px;
}
.mt-3 {
  margin-top: 16px;
}
.m-0 {
  margin: 0px;
}
.loginbox {
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  margin-left: 40%;
}
.btn {
  margin-left: 8px;
  background-color: rgb(186, 235, 206);
}
.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
